<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <base href="./">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <meta name="description" content="{{ 'zentlix_user.authorization.zentlix_auth' | trans }}">
    <title>{% block title %}{{ 'zentlix_user.authorization.zentlix_auth' | trans }}{% endblock %}</title>
    <link rel="stylesheet" href="/zentlix/main-bundle/admin/dist/styles.818bf2b0d0fe1d031283.css"></head>
</head>
<body class="app flex-row align-items-center body-auth">
{% block body %}{% endblock %}
</body>
</html>